@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <my-app>
    </my-app>
    @section scripts
    {
        <script>
            System.import('app/main')
                  .then(null, console.error.bind(console));
        </script>

    }
}
else
{
    <label class="label label-danger">User is not logged in. Angular app will not load</label>
}