<h3>Subscription: {{SelectedSubscriptionId}}</h3>
<ul>
    <li>
        <a [routerLink]="['/Azure/VirtualMachines/Publishers']" [queryParams]="{subscriptionId: [SelectedSubscriptionId]}">
            Publishers
        </a>
    </li>
    <li>
        <a [routerLink]="['/Azure/VirtualMachines/List']" [queryParams]="{subscriptionId: [SelectedSubscriptionId]}">
            Virtual Machines
        </a>
    </li>
    <li>
        <a [routerLink]="['/Azure/ResourceGroups/Create']" [queryParams]="{subscriptionId: [SelectedSubscriptionId]}">
            Create Resource Group
        </a>
    </li>
</ul>